#sidebar {
  transition: width 1s ease-in-out;
}

.hr-text {
  border: 0;
  font-size: 14px;
  height: 1.5em;
  line-height: 1em;
  position: relative;
  text-align: left;
}

.hr-text::before {
  content: "";
  background: linear-gradient(
    to left,
    transparent,
    rgb(220 252 231),
    transparent
  );
  position: absolute;
  left: 0;
  top: 50%;
  width: 100%;
  height: 1px;
}

.hr-text::after {
  color: white;
  content: attr(data-content);
  line-height: 1em;
  padding: 0 7px;
  position: relative;
}
